<h1>My trip in scandinavia</h1>

<section class="w-full p-[1rem] my-[2rem] flex items-center justify-center gap-[2rem] flex-wrap">
    <% if (articles) { %>
        <% for (let article of articles) { %>
            <article class="w-full max-w-[300px]">
                <a class="w-full block space-y-4" href="/article/<%= article.id %>">
                    <img class="w-full h-[200px] max-w-[300px] object-cover" src="/uploads/<%= article.image %>" alt="<%= article.alt %>">
                    <h2 class="text-center article-card__title"><%= article.title %></h2>
                    <div>Catégorie: <span><%= article.category_name %></span></div>
                    <a href="/edit-article/<%= article.id %>">Modifier l'article</a>

                    <form action="/delete/article/<%= article.id %>" method="POST">
                        <button>Supprimer l'article</button>
                    </form>
                </a>
            </article>
        <% } %>
    <% } %>
</section>
